services:
  core:
    image: ghcr.io/eivarin/coreemu:coreemu-9.2.1
    container_name: core
    command: core-daemon
    environment:
      - DISPLAY
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ./volume:/volume
      - ./.bashrc:/root/.bashrc
    privileged: true
    stdin_open: true 
    tty: true
  core-for-mac:
    image: ghcr.io/eivarin/coreemu:coreemu-9.2.1
    container_name: core
    command: core-daemon
    environment:
      - DISPLAY
    volumes:
      - x11-unix:/tmp/.X11-unix/X0:rw
      - ./volume:/volume
      - ./.bashrc:/root/.bashrc
    privileged: true
    stdin_open: true 
    tty: true
volumes:
  x11-unix:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "${X11_UNIX_VOLUME:-/tmp/.X11-unix}"
