version: '3'
services:
  core:
    image: ghcr.io/eivarin/coreemu:coreemu-9.2.1
    container_name: core
    environment:
      - DISPLAY
    volumes:
      - ${DISPLAY_BIND:-/tmp/.X11-unix:/tmp/.X11-unix:rw}
      - ./volume:/volume
      - ./.bashrc:/root/.bashrc
    user: "${UID}:${GID}"
    privileged: true
    stdin_open: true 
    tty: true